<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div id="app">
        <header></header>
        
        <main>
            <section class="todo-list-wrapper">
                <h2>
                    TODO LIST
                </h2>
                <ul class="todoList">
                    <li class="list-item" v-for="(item, index) in listElements" :key="index" :class="(item.done === true) ? 'done': '' " @click="toggleDone(index)">

                        <span @click="toggleDone(index)" :class="(item.done === true) ? 'done' : '' ">
                            {{item.text}}
                        </span>

                        <i @click="removeTask(index)"> X</i>

                    </li>
                </ul>
            </section>

            <section class="input">
                <div>
                    <label for="new-todo-input">Inserisci un nuovo elemento alla lista</label>
                    <input type="text" id="new-todo-input" v-model="newTaskContent" @keyup.enter="addNewTask(newTaskContent)">
                </div>

            </section>
            
        </main>
        

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>